<a class="all" href="#" data-i18n="sidebar.listNews"></a> <br/><br/>
<a class="del" href="#" data-i18n="sidebar.delNews"></a> <br/><br/>

<select multiple="multiple" id="tagsSelect" name="tagsSelect"></select> 
<button id="tag-add" class="btn btn-default" data-i18n="sidebar.addTag"></button> <br/><br/>
<select multiple="multiple" id="authorsSelect" name="authorsSelect"></select>
<button id="author-add" class="btn btn-default" data-i18n="sidebar.addAuthor"></button> <br/><br/>

<a class="viewComments" href="#" data-i18n="sidebar.viewComments"></a> <br/><br/>