<div class="newsMessage">
    <div class="date"></div>
    <div class="title"></div>
    <div class="shortText"></div>
    <div class="fullText"></div>
    <div class="tags"></div>
    <div class="cmntForm">
        <form id="commentForm" action="#">
            <div class="cmntArea">
                <textarea id="commentText" name="cmntArea" rows="5" cols="90" maxlength="100" required></textarea>
            </div>
            <div class="buttons">
                <button id="addComment" data-i18n="form.addComment"></button>
            </div>
        </form>
    </div>
</div>
