<a class="add" href="#" data-i18n="sidebar.addNews"></a> <br/><br/>

<ul class="dropdown">

    <li><a id="tagsBtn" class="dropdownBtn" href="#" data-i18n="sidebar.tags"></a>
        <ul id="tagList"></ul>
    </li>
    
    <li><a id="authorsBtn" class="dropdownBtn" href="#" data-i18n="sidebar.authors"></a>
        <ul id="authorList"></ul>
    </li>
    
    <li><a id="commentsBtn" class="dropdownBtn" href="#" data-i18n="sidebar.comments"></a>
        <ul id="commentList">
            <li><a class="top" href="5">top 5</a></li>
            <li><a class="top" href="20">top 20</a></li>
            <li><a class="top" href="100">top 100</a></li>
        </ul>
    </li>
</ul>