<div class="newsForm">
    <form id="form" action="#">
        <div>
            <p>
                <span data-i18n="form.title"></span> <br />
                <textarea id="title" name="title" rows="3" cols="90" maxlength="30" required></textarea>
            </p>
        </div>
        <div>
            <p>
                <span data-i18n="form.short"></span> <br />
                <textarea id="shortText" name="shortText" rows="5" cols="90" maxlength="100" required></textarea>
            </p>
        </div>
        <div>
            <p>
                <span data-i18n="form.full"></span> <br />
                <textarea id="fullText" name="fullText" rows="14" cols="90" required></textarea>
            </p>
        </div>

        <div class="buttons">
            <button id="btnSave" data-i18n="form.saveBtn"></button>
            &nbsp&nbsp
            <button id="cancel" data-i18n="form.cancelBtn"></button>
        </div>
    </form>
</div>
